// ./_variables.scss

// 1. COLORS
    $color_primary: orange;
    $color_secondary: red;
    $color_neutral: #999;



// 2. TYPOGRAPHY 
    $typography_font_1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    $typography_font_2: Verdana, Geneva, Tahoma, sans-serif;
    $typography_color: $color_neutral;
    $typography_font_size: 1.2em;


